:root {
    --first-color: #12192C;
    --second-color: #F5A623;
    --white-color: #ffff;
    --body-font: 'Poppins', sans-seriff;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 1rem 0 0 5rem;
    font-family: var(--body-font);
    background: var(--white-color);
    transition: 0.5s;
}

h1 {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    background: var(--first-color);
    padding: 1.25rem 0.5rem 2rem;
    transition: 0.5s;
    z-index: 100;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav_link {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    color: var(--white-color);
    transition: 0.5s;
}

.nav_link:hover {
    background-color: var(--second-color);
    color: var(--first-color);
}

.content {
    padding: 0 3rem;
}

.footer {
    padding: 0 3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--white-color);
    z-index: 1;
}

.content_title {
    padding: 2rem 16rem;
}

@media(max-width: 1000px) {
    .content_item {
        overflow: auto;
        display: block;
    }

    .navbar {
        height: 86px;
        position: fixed;
        top: 0;
        width: 100%;
        background: var(--first-color);
        transition: 0.5s;
        padding: 1.25rem 0.5rem 2rem;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .nav_link {
        display: inline-block;
        align-items: center;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        color: var(--white-color);
        transition: 0.5s;
    }

    .content {
        padding: 6rem 0;
    }

    .content_title {
        padding: 2rem 0;
    }
}